html
  head
    title= title
  body
    h1= message
    img(src="https://image.freepik.com/free-vector/facebook-like-icon-with-long-shadow-that-looks-simple-thumbs-up_68708-504.jpg", alt="Текст если нет картинки")
    h2= 'Это главная страница'
    a(href="./page2") Ссылка на 2 страницу
    
